fastapi
uvicorn
python-dotenv
google-cloud-speech
google-auth
google-auth-oauthlib
google-auth-httplib2
websockets
pydantic
python-docx
openpyxl
reportlab
python-pptx
gtts 
openai
fastapi-mail
whisper
python-multipart
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client>=2.90.0,<3
aiohttp 
aiortc
pydub
fitz 
PyMuPDF
google-cloud-storage==2.1.0
tools
google-generativeai
PyMuPDF
pdfminer.six==20221105
python-pptx
python-docx
mammoth
extract-msg
pydub
SpeechRecognition
moviepy
tika
chardet
frontend
