fastapi
uvicorn
python-dotenv
google-cloud-speech
google-auth
google-auth-oauthlib
google-auth-httplib2
websockets
pydantic
python-docx
openpyxl
reportlab
python-pptx
gtts 
fastapi-mail
python-multipart
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client>=2.90.0,<3
aiohttp 
aiortc==1.13.0
pydub
google-cloud-storage>=2.16.0
tools
google-generativeai==0.8.4
PyMuPDF
pdfminer.six==20221105
python-docx
mammoth
extract-msg
pydub
SpeechRecognition
moviepy
tika
chardet
frontend
pdfplumber
gunicorn>=21.2.0
PyMuPDF
openai